appdirs==1.4.3
asn1crypto==0.22.0
astroid==1.5.3
beautifulsoup4==4.6.0
cffi==1.10.0
chardet==3.0.4
colorama==0.3.9
cryptography==3.2
cssselect==1.0.1
cupshelpers==1.0
cycler==0.10.0
decorator==4.1.2
easygui===0.98.0-UNRELEASED
feedfinder2==0.0.4
feedparser==5.2.1
google-api-python-client==1.6.2
gTTS==1.1.8
gTTS-token==1.1.1
gufw==17.10.0
httplib2>0.18.0
idna==2.6
imageio==2.1.2
isort==4.2.15
jieba3k==0.35.1
lazy-object-proxy==1.3.1
lightdm-gtk-greeter-settings==1.2.1
louis==3.2.0
lxml==3.8.0
matplotlib==2.0.2
mccabe==0.6.1
moviepy==0.2.2.11
mutagen==1.38
networkx==1.11
newspaper3k==0.2.2
nltk==3.2.4
npyscreen==4.10.5
numpy==1.13.1
oauth2client==4.1.2
olefile==0.44
packaging==16.8
pacman-mirrors==4.2.2
pafy==0.5.3.1
Pillow>=7.1.0
ply==3.10
progressbar2==3.30.0
pyasn1==0.3.3
pyasn1-modules==0.1.1
PyAutoGUI==0.9.36
pycairo==1.13.3
pycparser==2.18
pycups==1.9.73
pycurl==7.43.0
pygame==1.9.3
pygobject==3.24.1
PyInstaller==3.2.1
pylint==1.7.2
PyMsgBox==1.0.3
pyOpenSSL==17.2.0
pyparsing==2.2.0
PyScreeze==0.1.8
python-dateutil==2.6.1
python-sane==2.8.3
python-utils==2.2.0
python-xlib==0.19
PyTweening==1.0.3
pytz==2017.2
PyYAML==3.12
ranger==1.8.1
requests==2.18.4
requests-file==1.4.2
rsa==3.4.2
scikit-image==0.13.0
scipy==0.19.1
selenium==3.5.0
six==1.10.0
speedtest-cli==1.0.6
team==1.0
tldextract==2.1.0
tqdm==4.15.0
uritemplate==3.0.0
urllib3==1.22
wrapt==1.10.10
youtube-dl==2017.8.27.1
youtube-upload==0.8.0
